@charset "utf-8";
/* CSS Document */

	body,html,ul,div,span,ol,h1,h2,h3,h4,h5,h6{
		padding: 0;
		border: 0;
		margin: 0;
		background: aliceblue;
		color: #000;
	}
	a{
		color: inherit;
		text-decoration: none;
		cursor: pointer;
	}
	#topContainer{
		margin:0 auto;
	}
	.polling_message {
		padding-top: 1%;
		color: snow;
		margin-right: 2%;
		background-color: transparent;
		float: right;
		font-weight: bold;
	}
	.view_port {
		background-color:black;
		height:45px;
		width:100%;
		overflow: hidden;
	}
	.cylon_eye {
		color:white;
		height: 100%;
		width: 20%;
		
		background-color: red;
		background-image: -webkit-linear-gradient(left, rgba( 0,0,0,0.9 ) 25%, rgba( 0,0,0,0.1 ) 50%, rgba( 0,0,0,0.9 ) 75%);
		background-image:    -moz-linear-gradient(left, rgba( 0,0,0,0.9 ) 25%, rgba( 0,0,0,0.1 ) 50%, rgba( 0,0,0,0.9 ) 75%);
		background-image:      -o-linear-gradient(left, rgba( 0,0,0,0.9 ) 25%, rgba( 0,0,0,0.1 ) 50%, rgba( 0,0,0,0.9 ) 75%);
		background-image:         linear-gradient(to right, rgba( 0,0,0,0.9 ) 25%, rgba( 0,0,0,0.1 ) 50%, rgba( 0,0,0,0.9 ) 75%);
		
		-webkit-animation: move_eye 4s linear 0s infinite alternate;
		 -moz-animation: move_eye 4s linear 0s infinite alternate;
		   -o-animation: move_eye 4s linear 0s infinite alternate;
			  animation: move_eye 4s linear 0s infinite alternate;
	}
	@-webkit-keyframes move_eye { from { margin-left:-20%; } to { margin-left:100%; }  }
   @-moz-keyframes move_eye { from { margin-left:-20%; } to { margin-left:100%; }  }
     @-o-keyframes move_eye { from { margin-left:-20%; } to { margin-left:100%; }  }
        @keyframes move_eye { from { margin-left:-20%; } to { margin-left:100%; }  }
	#menuContainer{
		margin: 2% 0% 0% 19%;
	}
	.iconImages{
		font-size:200%;
		padding-left: 5%;
	}
	.iconImages:hover{
		color:brown;
		cursor:pointer;
	}
	.MenuText{
		font-size: 100%;
		color: #1C0560;
		font-weight: bold;
	}
	.MenuText:hover{
		color:#BEB9CD;
		cursor:pointer;		
	}
	#eventContent{
		height:auto;
		width:100%;
		margin-top: 15px;
		margin-bottom: 7px;
	}
	.hLine1{
		margin: 0;
		border-color: turquoise;
		border-width: 3px;
		border-style: solid;
		box-shadow: 0px 6px 3px 4px rgb(78, 78, 78);
	}
	.innerHtmlDiv{
		font-size: large;
		font-weight: bolder;
		text-align: center;
		color: darkcyan;
		cursor:pointer;
	}
	.innerHtmlClass:hover{
		color;rgb(164, 224, 224);
	}
	.innerHtmlSpan{
		font-size: large;
		font-weight: bolder;
		text-align: center;
		color: darkcyan;
		cursor:pointer;
	}
	#eventRules{
		width: 80%;
		padding-left: 10%;
		padding-right: 10%;
		margin-top: 1%;
		text-align: left;
		font-family: 'Robotothin';
		font-size: large;
		color: rgb(173, 134, 159);;
	}	
	.eventRulesClass{
		padding-left: 2.5%;
		padding-right: 2.5%;
		margin-top: 1%;
		text-align: left;
		font-family: 'Robotothin';
		font-size: large;
		color: rgb(173, 134, 159);;
	}
	.caption{
		text-align: center;
		text-decoration: underline;
		color: darkcyan;	
	}
	#footer{
		bottom:0px;
		left:0px;
		right:0px;
		z-index:6;
		height:auto;
		position:fixed;
		text-align:center;
	}
